hello I am auth-home.html

<ng-container *ngIf="!this.getLatestAuth(); else showLogout">
<button
  id="login-action"
  name="login-action"
  type="submit"
  (click)="handleLoginClick($event)"
>
  Login
</button>
</ng-container>

<ng-template #showLogout>
<button
  id="logout-action"
  name="logout-action"
  type="submit"
  (click)="handleLogoutClick($event)"
>
  Logout - this.authenticated: {{ this.isAuthenticated }}
</button>
</ng-template>

<button
  id="signup-action"
  name="signup-action"
  type="submit"
  (click)="handleSignupClick($event)"
>
  Signup
</button>