<h1>{{title}}</h1>

<nav class='top-nav'>
  <ul class="router-links">
    <li><a routerLink="/bezier">Bezier</a></li>
    <li><a routerLink="/usermgmt" routerLinkActive="active">User Mgmt</a></li>
    <li><a routerLink="/crossword" routerLinkActive="active">Crossword</a></li>
    <li><a routerLink="/hangman" routerLinkActive="active">Hangman</a></li>
    <li><a routerLink="/dict" routerLinkActive="active">Dictionary</a></li>
    <li><a routerLink="/testoutput" routerLinkActive="active">Output</a></li>
    <li><a routerLink="/testinput" routerLinkActive="active">Input</a></li>
    <li><a routerLink="/viewchild" routerLinkActive="active">ViewCihld</a></li>
    <li><a routerLink="/viewchildren" routerLinkActive="active">ViewCihldren</a></li>
    <li><a routerLink="/rest" routerLinkActive="active">Rest</a></li>
    <li><a routerLink="/behavior" routerLinkActive="active">Behavior</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>