/* You can add global styles to this file, and also import other style files */
* {
  font-size: 16px;
  width: 100vh;
}
html, body {
  margin: auto;
  box-sizing:border-box;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}